# Guided Capstone Step 4 - Pre-processing and Training Data Development

### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   **Pre-processing and Training Data Development**

5.  Modeling
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

In this step of the guided capstone, you'll revisit some of the steps you completed to solve questions in step 4. Revisiting these steps will help you get additional practice completing this kind of work.

**<font color='teal'> Start by loading the necessary packages, as you've done in the previous steps. Print out your current working directory to confirm that you are in the correct project directory. </font>**

In [1]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams.update({'font.size': 12})
%matplotlib inline

import statsmodels.formula.api as smf

In [2]:
pwd

'D:\\Jupyter_Notebook\\Springboard\\Guided_Capstone'

**<font color='teal'>  Load the csv file you created in step 3. Remember, it should be saved inside your data subfolder. Print the first five rows.</font>**

In [3]:
df = pd.read_csv('D:\Jupyter_Notebook\Springboard\Guided_Capstone\data\step3_output.csv')

In [4]:
df.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,cluster
0,Alyeska Resort,Alaska,3939,2500,1,0.0,0,2,2,0,...,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0,2
1,Eaglecrest Ski Area,Alaska,2600,1540,0,0.0,0,0,0,0,...,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,0.0,2
2,Hilltop Ski Area,Alaska,2090,294,0,0.0,0,0,0,1,...,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0,0
3,Arizona Snowbowl,Arizona,11500,2300,0,0.0,1,0,2,2,...,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,0.0,1
4,Sunrise Park Resort,Arizona,11100,1800,0,0.0,0,1,2,3,...,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0,1

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `State`. Add the dummies back to the dataframe and remove the original column for `State`. </font>**

In [5]:
df.state.nunique()

35

In [6]:
# Create dummy variables for state
state_dummies = pd.get_dummies(df.state, prefix = 'state').iloc[:,1:]

In [7]:
state_dummies

,state_Arizona,state_California,state_Colorado,state_Connecticut,state_Idaho,state_Illinois,state_Indiana,state_Iowa,state_Maine,state_Maryland,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
326,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
328,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
329,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [8]:
#concate dummy variables into df and assign into df_dummies
df_dummies = pd.concat([df, state_dummies],axis = 1)

In [9]:
df_dummies.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,Alyeska Resort,Alaska,3939,2500,1,0.0,0,2,2,0,...,0,0,0,0,0,0,0,0,0,0
1,Eaglecrest Ski Area,Alaska,2600,1540,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Hilltop Ski Area,Alaska,2090,294,0,0.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Arizona Snowbowl,Arizona,11500,2300,0,0.0,1,0,2,2,...,0,0,0,0,0,0,0,0,0,0
4,Sunrise Park Resort,Arizona,11100,1800,0,0.0,0,1,2,3,...,0,0,0,0,0,0,0,0,0,0

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing, standardize the scale of the features of the dataframe except the name of the resort, which you don't need in the dataframe for modeling so it can be droppped here as well. You should  hold out your response variable(s) so that you can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as your response for scaling and modeling. Later, you will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave, them in the development dataframe. </font>**

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selectionm import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. You will start by using the adult weekend ticket price as your response variable for modeling.</font>**

In [10]:
# remove Name and state from the dataframe because these two columns are not numbers
df_dummies.drop(columns=['Name','state'],inplace = True)

In [11]:
df_dummies.head()

,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,3939,2500,1,0.0,0,2,2,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,2600,1540,0,0.0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
2,2090,294,0,0.0,0,0,0,1,0,2,...,0,0,0,0,0,0,0,0,0,0
3,11500,2300,0,0.0,1,0,2,2,1,2,...,0,0,0,0,0,0,0,0,0,0
4,11100,1800,0,0.0,0,1,2,3,1,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
#Assign feasure s into newX and target variable in to new Y
newX = df_dummies.drop('AdultWeekend',axis=1)
print(newX[0:3]) # check 
newY = df_dummies['AdultWeekend']

   summit_elev  vertical_drop  trams  fastEight  fastSixes  fastQuads  quad  \
0         3939           2500      1        0.0          0          2     2
1         2600           1540      0        0.0          0          0     0
2         2090            294      0        0.0          0          0     0

   triple  double  surface  ...  state_Rhode Island  state_South Dakota  \
0       0       0        2  ...                   0                   0
1       0       4        0  ...                   0                   0
2       1       0        2  ...                   0                   0

   state_Tennessee  state_Utah  state_Vermont  state_Virginia  \
0                0           0              0               0
1                0           0              0               0
2                0           0              0               0

   state_Washington  state_West Virginia  state_Wisconsin  state_Wyoming
0                 0                    0                0              0
1                 0                    0                0              0
2                 0                    0                0              0

[3 rows x 57 columns]

In [13]:
#split the dataset into training and testing set
X_train,X_test,y_train,y_test=train_test_split(newX,newY,test_size=0.25,random_state=123)
print(len(X_test), len(y_test))

83 83

Here, you'll start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5 - Modeling

You've cleaned and prepared the datasets, so now it's time to get into the most exciting part of this process: modeling! In this exercise, you will build three different models and compare each model's performance. In the end, you will choose the best model for proving insights to Big Mountain management.  

1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with Training Data Set

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [14]:
#all first model set
#from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

In [15]:
# check training and test score (R-squared) 
#0.83 for training and 0.65 for testing, these two scores are not too bad
linear_train_score=lm.score(X_train, y_train)
linear_test_score=lm.score(X_test, y_test)
print(linear_train_score)
print(linear_test_score)

0.8291335569225144
0.6516505179394582

## Review Model Outcomes — Iterate over additional models as needed.

In [16]:
# check RMSE and R scores for training 
# 10.52 RMSE is relatively high error for a ski ticket
pred_train_lm= lm.predict(X_train)
linear_train_RMSE = np.sqrt(mean_squared_error(y_train,pred_train_lm))
linear_train_R2 = r2_score(y_train, pred_train_lm)
print("RMSE (train):",linear_train_RMSE)
print("R^2 (train):",linear_train_R2)

RMSE (train): 10.526101150774231
R^2 (train): 0.8291335569225144

In [17]:
# check MSE and R scores for testing 
# 17.02 RMSE is relatively high error for a ski ticket
pred_test_lm= lm.predict(X_test)
linear_test_RMSE = np.sqrt(mean_squared_error(y_test,pred_test_lm))
linear_test_R2 = r2_score(y_test, pred_test_lm)
print("RMSE (test):",linear_test_RMSE) 
print("R^2 (test):",linear_test_R2)

RMSE (test): 17.02033317987166
R^2 (test): 0.6516505179394582

In [18]:
#check ceofficient and features
pd.DataFrame({'feature': X_test.columns, 'coef':lm.coef_})

                 feature       coef
0            summit_elev  -0.000512
1          vertical_drop   0.005636
2                  trams   0.563913
3              fastEight -30.107001
4              fastSixes   5.056794
5              fastQuads   6.255813
6                   quad   3.573464
7                 triple   3.728166
8                 double   3.951189
9                surface   3.896766
10          total_chairs  -3.080898
11                  Runs  -0.051756
12          TerrainParks  -0.371802
13         LongestRun_mi  -0.083518
14     SkiableTerrain_ac  -0.001757
15        Snow Making_ac   0.005281
16      daysOpenLastYear   0.020832
17             yearsOpen   0.047938
18       averageSnowfall   0.024571
19          AdultWeekday   0.626327
20     projectedDaysOpen  -0.027593
21        NightSkiing_ac   0.008479
22               cluster  -0.717264
23         state_Arizona   6.651870
24      state_California   1.298588
25        state_Colorado  13.278661
26     state_Connecticut   5.102308
27           state_Idaho  -8.413689
28        state_Illinois   2.137091
29         state_Indiana  -0.184330
30            state_Iowa   4.309585
31           state_Maine   6.766315
32        state_Maryland  19.706729
33   state_Massachusetts   9.635693
34        state_Michigan   1.391521
35       state_Minnesota   2.442802
36        state_Missouri   5.512318
37         state_Montana  -4.800790
38          state_Nevada  10.951248
39   state_New Hampshire  10.766002
40      state_New Jersey  20.084226
41      state_New Mexico   3.236940
42        state_New York   5.522145
43  state_North Carolina  21.142355
44            state_Ohio  -4.577232
45          state_Oregon  -2.906034
46    state_Pennsylvania   7.399283
47    state_Rhode Island  17.871893
48    state_South Dakota  -0.942180
49       state_Tennessee  32.915669
50            state_Utah   2.773452
51         state_Vermont  10.449519
52        state_Virginia  15.449735
53      state_Washington  -5.038815
54   state_West Virginia  19.221167
55       state_Wisconsin   3.440884
56         state_Wyoming  -5.306779

**<font color='teal'> Print the intercept value from the linear model. </font>**

In [19]:
#The intercept is the mean AdultWeekend price for all the resorts given the other characteristics.
lm.intercept_

10.06709709468683

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the `AdultWeekend` resulting value. Also, because you took the time to scale your x values in the training data, you can compare each of the coefficients for the features to determine the feature's importance. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 

Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what you are looking for is the magnitude of impact on your response variable.

In [20]:
#check to top 10 features that affect target
# top 10 important features are state. Big Mountain resort can not do anything about it. 
pd.DataFrame({'feature': X_test.columns, 'coef':abs(lm.coef_)}).sort_values(by='coef', ascending=False).head(10)

                 feature       coef
49       state_Tennessee  32.915669
3              fastEight  30.107001
43  state_North Carolina  21.142355
40      state_New Jersey  20.084226
32        state_Maryland  19.706729
54   state_West Virginia  19.221167
47    state_Rhode Island  17.871893
52        state_Virginia  15.449735
25        state_Colorado  13.278661
38          state_Nevada  10.951248

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that you care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

#### Model 2

In [21]:
df.columns

Index(['Name', 'state', 'summit_elev', 'vertical_drop', 'trams', 'fastEight',
       'fastSixes', 'fastQuads', 'quad', 'triple', 'double', 'surface',
       'total_chairs', 'Runs', 'TerrainParks', 'LongestRun_mi',
       'SkiableTerrain_ac', 'Snow Making_ac', 'daysOpenLastYear', 'yearsOpen',
       'averageSnowfall', 'AdultWeekday', 'AdultWeekend', 'projectedDaysOpen',
       'NightSkiing_ac', 'cluster'],
      dtype='object')

In [22]:
# remove state and name
df_nostate = df.drop(columns=['Name','state'])

In [23]:
newX_model2 = df_nostate.drop('AdultWeekend',axis=1)
print(newX_model2[0:3]) # check 
newY_model2 = df_nostate['AdultWeekend']

   summit_elev  vertical_drop  trams  fastEight  fastSixes  fastQuads  quad  \
0         3939           2500      1        0.0          0          2     2
1         2600           1540      0        0.0          0          0     0
2         2090            294      0        0.0          0          0     0

   triple  double  surface  ...  LongestRun_mi  SkiableTerrain_ac  \
0       0       0        2  ...            1.0             1610.0
1       0       4        0  ...            2.0              640.0
2       1       0        2  ...            1.0               30.0

   Snow Making_ac  daysOpenLastYear  yearsOpen  averageSnowfall  AdultWeekday  \
0           113.0             150.0       60.0            669.0          65.0
1            60.0              45.0       44.0            350.0          47.0
2            30.0             150.0       36.0             69.0          30.0

   projectedDaysOpen  NightSkiing_ac  cluster
0              150.0           550.0        2
1               90.0             0.0        2
2              152.0            30.0        0

[3 rows x 23 columns]

In [24]:
X_train_model2,X_test_model2,y_train_model2,y_test_model2=train_test_split(newX_model2,newY_model2,test_size=0.25,random_state=123)
print(len(X_test_model2), len(y_test_model2))

83 83

In [25]:
lm = LinearRegression()
model = lm.fit(X_train_model2,y_train_model2)

In [26]:
# check R2
train_score_model2=lm.score(X_train_model2, y_train_model2)
test_score_model2=lm.score(X_test_model2, y_test_model2)
print(train_score_model2)
print(test_score_model2)

0.779004918338114
0.6604397338196959

In [27]:
# check RMSE and R2 of trainging
pred_train_lm_model2= lm.predict(X_train_model2)
train_RMSE_model2 = np.sqrt(mean_squared_error(y_train_model2,pred_train_lm_model2))
train_R2_model2 = r2_score(y_train_model2, pred_train_lm_model2)
print("model2 RMSE (train):",train_RMSE_model2)
print("model2 R^2 (train):",train_R2_model2)

model2 RMSE (train): 11.97100063506723
model2 R^2 (train): 0.779004918338114

In [28]:
# check RMSE and R2 of testing
pred_test_lm_model2= lm.predict(X_test_model2)
test_RMSE_model2 = np.sqrt(mean_squared_error(y_test_model2,pred_test_lm_model2))
test_R2_model2 = r2_score(y_test_model2, pred_test_lm_model2)
print("model2 RMSE (test):",test_RMSE_model2) 
print("model2 R^2 (test):",test_R2_model2)

model2 RMSE (test): 16.80424115587393
model2 R^2 (test): 0.6604397338196959

In [29]:
pd.DataFrame({'feature': X_test_model2.columns, 'coef':lm.coef_})

              feature       coef
0         summit_elev  -0.000098
1       vertical_drop   0.005235
2               trams   0.352024
3           fastEight -38.691224
4           fastSixes   7.598464
5           fastQuads   7.453701
6                quad   5.056331
7              triple   4.240366
8              double   4.840362
9             surface   4.993591
10       total_chairs  -4.156386
11               Runs  -0.020885
12       TerrainParks  -0.595508
13      LongestRun_mi   0.742220
14  SkiableTerrain_ac  -0.002975
15     Snow Making_ac   0.004427
16   daysOpenLastYear   0.044512
17          yearsOpen   0.037763
18    averageSnowfall  -0.003659
19       AdultWeekday   0.681416
20  projectedDaysOpen  -0.029585
21     NightSkiing_ac   0.007841
22            cluster  -1.255904

In [30]:
lm.intercept_

13.633704684570482

In [31]:
pd.DataFrame({'feature': X_test_model2.columns, 'coef':abs(lm.coef_)}).sort_values(by='coef', ascending=False).head(10)

          feature       coef
3       fastEight  38.691224
4       fastSixes   7.598464
5       fastQuads   7.453701
6            quad   5.056331
9         surface   4.993591
8          double   4.840362
7          triple   4.240366
10   total_chairs   4.156386
22        cluster   1.255904
13  LongestRun_mi   0.742220

**<font color='teal'> When reviewing your new model coefficients, note that `summit_elev` is now in the number two spot. From a managerial perspective, this is also difficult to change and highly correlated with `base_elev` and `vertical_drop`.  This time rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [32]:
# remove state and name and summit_elev
df_nostate_nosummit = df.drop(columns=['Name','state','summit_elev'])

In [33]:
newX_model3 = df_nostate_nosummit.drop('AdultWeekend',axis=1)
print(newX_model3[0:3]) # check 
newY_model3 = df_nostate_nosummit['AdultWeekend']

   vertical_drop  trams  fastEight  fastSixes  fastQuads  quad  triple  \
0           2500      1        0.0          0          2     2       0
1           1540      0        0.0          0          0     0       0
2            294      0        0.0          0          0     0       1

   double  surface  total_chairs  ...  LongestRun_mi  SkiableTerrain_ac  \
0       0        2             7  ...            1.0             1610.0
1       4        0             4  ...            2.0              640.0
2       0        2             3  ...            1.0               30.0

   Snow Making_ac  daysOpenLastYear  yearsOpen  averageSnowfall  AdultWeekday  \
0           113.0             150.0       60.0            669.0          65.0
1            60.0              45.0       44.0            350.0          47.0
2            30.0             150.0       36.0             69.0          30.0

   projectedDaysOpen  NightSkiing_ac  cluster
0              150.0           550.0        2
1               90.0             0.0        2
2              152.0            30.0        0

[3 rows x 22 columns]

In [34]:
X_train_model3,X_test_model3,y_train_model3,y_test_model3=train_test_split(newX_model3,newY_model3,test_size=0.25,random_state=123)
print(len(X_test_model3), len(y_test_model3))

83 83

In [35]:
lm = LinearRegression()
model = lm.fit(X_train_model3,y_train_model3)

In [36]:
# check R2
train_score_model3=lm.score(X_train_model3, y_train_model3)
test_score_model3=lm.score(X_test_model3, y_test_model3)
print(train_score_model3)
print(test_score_model3)

0.7789473272382506
0.6617332369564753

In [37]:
# check RMSE and R2 of trainging
pred_train_lm_model3= lm.predict(X_train_model3)
train_RMSE_model3 = np.sqrt(mean_squared_error(y_train_model3,pred_train_lm_model3))
train_R2_model3 = r2_score(y_train_model3, pred_train_lm_model3)
print("model3 RMSE (train):",train_RMSE_model3)
print("model3 R^2 (train):",train_R2_model3)

model3 RMSE (train): 11.972560348925931
model3 R^2 (train): 0.7789473272382506

In [38]:
# check RMSE and R2 of testing
pred_test_lm_model3= lm.predict(X_test_model3)
test_RMSE_model3 = np.sqrt(mean_squared_error(y_test_model3,pred_test_lm_model3))
test_R2_model3 = r2_score(y_test_model3, pred_test_lm_model3)
print("model3 RMSE (test):",test_RMSE_model3) 
print("model3 R^2 (test):",test_R2_model3)

model3 RMSE (test): 16.772204017473236
model3 R^2 (test): 0.6617332369564753

In [39]:
pd.DataFrame({'feature': X_test_model3.columns, 'coef':lm.coef_})

              feature       coef
0       vertical_drop   0.005129
1               trams   0.350215
2           fastEight -38.583968
3           fastSixes   7.596025
4           fastQuads   7.433409
5                quad   5.056388
6              triple   4.203366
7              double   4.827351
8             surface   4.980191
9        total_chairs  -4.137022
10               Runs  -0.021543
11       TerrainParks  -0.584469
12      LongestRun_mi   0.740966
13  SkiableTerrain_ac  -0.003022
14     Snow Making_ac   0.004505
15   daysOpenLastYear   0.042999
16          yearsOpen   0.037183
17    averageSnowfall  -0.004331
18       AdultWeekday   0.681033
19  projectedDaysOpen  -0.027963
20     NightSkiing_ac   0.008443
21            cluster  -1.336495

In [40]:
lm.intercept_

13.536515406483431

In [41]:
pd.DataFrame({'feature': X_test_model3.columns, 'coef':abs(lm.coef_)}).sort_values(by='coef', ascending=False).head(10)

          feature       coef
2       fastEight  38.583968
3       fastSixes   7.596025
4       fastQuads   7.433409
5            quad   5.056388
8         surface   4.980191
7          double   4.827351
6          triple   4.203366
9    total_chairs   4.137022
21        cluster   1.336495
12  LongestRun_mi   0.740966

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell. You will explain your selection during the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

In [42]:
pd.DataFrame({"Model":['Model 1.', "Model 2.", "Model 3."],
             "Explained Variance": [linear_test_R2,test_R2_model2 , test_R2_model3],
             'Root Mean Square Error ': [linear_test_RMSE,test_RMSE_model2 , test_RMSE_model3],
             'Features Dropped': ['-', "'state'", "'state','summit_elev','base_elev'"]})

,Model,Explained Variance,Root Mean Square Error,Features Dropped
0,Model 1.,0.651651,17.020333,-
1,Model 2.,0.660440,16.804241,'state'
2,Model 3.,0.661733,16.772204,"'state','summit_elev','base_elev'"