# Guided Capstone Step 4 - Pre-processing and Training Data Development

### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   **Pre-processing and Training Data Development**

5.  Modeling
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

In this step of the guided capstone, you'll revisit some of the steps you completed to solve questions in step 4. Revisiting these steps will help you get additional practice completing this kind of work.

**<font color='teal'> Start by loading the necessary packages, as you've done in the previous steps. Print out your current working directory to confirm that you are in the correct project directory. </font>**

In [2]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams.update({'font.size': 12})
%matplotlib inline

In [3]:
pwd

'D:\\Jupyter_Notebook\\Springboard\\Guided_Capstone'

**<font color='teal'>  Load the csv file you created in step 3. Remember, it should be saved inside your data subfolder. Print the first five rows.</font>**

In [4]:
df = pd.read_csv('D:\Jupyter_Notebook\Springboard\Guided_Capstone\data\step3_output.csv')

In [5]:
df.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,cluster
0,Alyeska Resort,Alaska,3939,7.824446,1,0.0,0,2,2,0,...,7.384610,4.736198,150.0,4.110874,6.507278,65.0,85.0,150.0,6.311735,2
1,Eaglecrest Ski Area,Alaska,2600,7.340187,0,0.0,0,0,0,0,...,6.463029,4.110874,45.0,3.806662,5.860786,47.0,53.0,90.0,0.000000,0
2,Hilltop Ski Area,Alaska,2090,5.686975,0,0.0,0,0,0,1,...,3.433987,3.433987,150.0,3.610918,4.248495,30.0,34.0,152.0,3.433987,0
3,Arizona Snowbowl,Arizona,11500,7.741099,0,0.0,1,0,2,2,...,6.656727,4.653960,122.0,4.406719,5.564520,89.0,89.0,122.0,0.000000,3
4,Sunrise Park Resort,Arizona,11100,7.496097,0,0.0,0,1,2,3,...,6.685861,4.394449,115.0,3.912023,5.525453,74.0,78.0,104.0,4.394449,3

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `State`. Add the dummies back to the dataframe and remove the original column for `State`. </font>**

In [6]:
df.state.nunique()

35

In [7]:
state_dummies = pd.get_dummies(df.state, prefix = 'state').iloc[:,1:]

In [8]:
state_dummies

,state_Arizona,state_California,state_Colorado,state_Connecticut,state_Idaho,state_Illinois,state_Indiana,state_Iowa,state_Maine,state_Maryland,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
326,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
328,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
329,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
df_dummies = pd.concat([df, state_dummies],axis = 1)

In [10]:
df_dummies.head()

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,Alyeska Resort,Alaska,3939,7.824446,1,0.0,0,2,2,0,...,0,0,0,0,0,0,0,0,0,0
1,Eaglecrest Ski Area,Alaska,2600,7.340187,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Hilltop Ski Area,Alaska,2090,5.686975,0,0.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Arizona Snowbowl,Arizona,11500,7.741099,0,0.0,1,0,2,2,...,0,0,0,0,0,0,0,0,0,0
4,Sunrise Park Resort,Arizona,11100,7.496097,0,0.0,0,1,2,3,...,0,0,0,0,0,0,0,0,0,0

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing, standardize the scale of the features of the dataframe except the name of the resort, which you don't need in the dataframe for modeling so it can be droppped here as well. You should  hold out your response variable(s) so that you can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as your response for scaling and modeling. Later, you will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave, them in the development dataframe. </font>**

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selectionm import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. You will start by using the adult weekend ticket price as your response variable for modeling.</font>**

In [11]:
df_dummies.drop(columns=['Name','state'],inplace = True)

In [12]:
df_dummies.head()

,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,surface,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,3939,7.824446,1,0.0,0,2,2,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,2600,7.340187,0,0.0,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,0,0
2,2090,5.686975,0,0.0,0,0,0,1,0,2,...,0,0,0,0,0,0,0,0,0,0
3,11500,7.741099,0,0.0,1,0,2,2,1,2,...,0,0,0,0,0,0,0,0,0,0
4,11100,7.496097,0,0.0,0,1,2,3,1,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
newX = df_dummies.drop('AdultWeekend',axis=1)
print(newX[0:3]) # check 
newY = df_dummies['AdultWeekend']

   summit_elev  vertical_drop  trams  fastEight  fastSixes  fastQuads  quad  \
0         3939       7.824446      1        0.0          0          2     2
1         2600       7.340187      0        0.0          0          0     0
2         2090       5.686975      0        0.0          0          0     0

   triple  double  surface  ...  state_Rhode Island  state_South Dakota  \
0       0       0        2  ...                   0                   0
1       0       4        0  ...                   0                   0
2       1       0        2  ...                   0                   0

   state_Tennessee  state_Utah  state_Vermont  state_Virginia  \
0                0           0              0               0
1                0           0              0               0
2                0           0              0               0

   state_Washington  state_West Virginia  state_Wisconsin  state_Wyoming
0                 0                    0                0              0
1                 0                    0                0              0
2                 0                    0                0              0

[3 rows x 57 columns]

In [14]:
X_train,X_test,y_train,y_test=train_test_split(newX,newY,test_size=0.25,random_state=123)
print(len(X_test), len(y_test))

83 83

Here, you'll start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5 - Modeling

You've cleaned and prepared the datasets, so now it's time to get into the most exciting part of this process: modeling! In this exercise, you will build three different models and compare each model's performance. In the end, you will choose the best model for proving insights to Big Mountain management.  

1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with Training Data Set

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [15]:
#all first model set
#from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

In [16]:
linear_train_score=lm.score(X_train, y_train)
linear_test_score=lm.score(X_test, y_test)
print(linear_train_score)
print(linear_test_score)

0.8342904078715033
0.6650603318463484

## Review Model Outcomes — Iterate over additional models as needed.

In [17]:
pred_train_lm= lm.predict(X_train)
linear_train_RMSE = np.sqrt(mean_squared_error(y_train,pred_train_lm))
linear_train_R2 = r2_score(y_train, pred_train_lm)
print("RMSE (train):",linear_train_RMSE)
print("R^2 (train):",linear_train_R2)

RMSE (train): 10.36604223137387
R^2 (train): 0.8342904078715033

In [18]:
pred_test_lm= lm.predict(X_test)
linear_test_RMSE = np.sqrt(mean_squared_error(y_test,pred_test_lm))
linear_test_R2 = r2_score(y_test, pred_test_lm)
print("RMSE (test):",linear_test_RMSE) 
print("R^2 (test):",linear_test_R2)

RMSE (test): 16.689516898541523
R^2 (test): 0.6650603318463484

In [19]:
pd.DataFrame({'feature': X_test.columns, 'coef':lm.coef_})

                 feature       coef
0            summit_elev  -0.001304
1          vertical_drop   5.331725
2                  trams   2.031732
3              fastEight -32.816014
4              fastSixes   3.455804
5              fastQuads   6.668755
6                   quad   3.738686
7                 triple   3.982649
8                 double   4.159431
9                surface   4.805762
10          total_chairs  -3.973194
11                  Runs   3.349958
12          TerrainParks  -0.250512
13         LongestRun_mi  -1.602391
14     SkiableTerrain_ac  -0.092279
15        Snow Making_ac   0.529365
16      daysOpenLastYear   0.049429
17             yearsOpen   1.418803
18       averageSnowfall   3.796738
19          AdultWeekday   0.586167
20     projectedDaysOpen  -0.047258
21        NightSkiing_ac   0.220045
22               cluster   1.168278
23         state_Arizona   8.519333
24      state_California   2.944834
25        state_Colorado  14.252653
26     state_Connecticut   5.221757
27           state_Idaho  -9.028139
28        state_Illinois   7.342514
29         state_Indiana   4.487967
30            state_Iowa   3.925201
31           state_Maine   2.968910
32        state_Maryland  15.998178
33   state_Massachusetts   8.788740
34        state_Michigan   1.458223
35       state_Minnesota   4.809997
36        state_Missouri  10.227053
37         state_Montana  -5.613157
38          state_Nevada  14.532088
39   state_New Hampshire   6.728817
40      state_New Jersey  21.208044
41      state_New Mexico   3.719939
42        state_New York   3.703282
43  state_North Carolina  22.452846
44            state_Ohio   0.804030
45          state_Oregon  -0.184643
46    state_Pennsylvania   9.079635
47    state_Rhode Island  20.927877
48    state_South Dakota  -5.734891
49       state_Tennessee  31.999535
50            state_Utah   2.049383
51         state_Vermont   6.132626
52        state_Virginia  17.200528
53      state_Washington  -2.436132
54   state_West Virginia  15.265017
55       state_Wisconsin   3.693557
56         state_Wyoming  -4.744732

**<font color='teal'> Print the intercept value from the linear model. </font>**

In [20]:
lm.intercept_

-45.490453520910805

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the `AdultWeekend` resulting value. Also, because you took the time to scale your x values in the training data, you can compare each of the coefficients for the features to determine the feature's importance. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 

Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what you are looking for is the magnitude of impact on your response variable.

In [21]:
pd.DataFrame({'feature': X_test.columns, 'coef':abs(lm.coef_)}).sort_values(by='coef', ascending=False).head(10)

                 feature       coef
3              fastEight  32.816014
49       state_Tennessee  31.999535
43  state_North Carolina  22.452846
40      state_New Jersey  21.208044
47    state_Rhode Island  20.927877
52        state_Virginia  17.200528
32        state_Maryland  15.998178
54   state_West Virginia  15.265017
38          state_Nevada  14.532088
25        state_Colorado  14.252653

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that you care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

#### Model 2

In [23]:
df.columns

Index(['Name', 'state', 'summit_elev', 'vertical_drop', 'trams', 'fastEight',
       'fastSixes', 'fastQuads', 'quad', 'triple', 'double', 'surface',
       'total_chairs', 'Runs', 'TerrainParks', 'LongestRun_mi',
       'SkiableTerrain_ac', 'Snow Making_ac', 'daysOpenLastYear', 'yearsOpen',
       'averageSnowfall', 'AdultWeekday', 'AdultWeekend', 'projectedDaysOpen',
       'NightSkiing_ac', 'cluster'],
      dtype='object')

In [24]:
df_nostate = df.drop(columns=['Name','state'])

In [34]:
newX = df_nostate.drop('AdultWeekend',axis=1)
print(newX[0:3]) # check 
newY = df_nostate['AdultWeekend']

   summit_elev  vertical_drop  trams  fastEight  fastSixes  fastQuads  quad  \
0         3939       7.824446      1        0.0          0          2     2
1         2600       7.340187      0        0.0          0          0     0
2         2090       5.686975      0        0.0          0          0     0

   triple  double  surface  ...  LongestRun_mi  SkiableTerrain_ac  \
0       0       0        2  ...       0.693147           7.384610
1       0       4        0  ...       1.098612           6.463029
2       1       0        2  ...       0.693147           3.433987

   Snow Making_ac  daysOpenLastYear  yearsOpen  averageSnowfall  AdultWeekday  \
0        4.736198             150.0   4.110874         6.507278          65.0
1        4.110874              45.0   3.806662         5.860786          47.0
2        3.433987             150.0   3.610918         4.248495          30.0

   projectedDaysOpen  NightSkiing_ac  cluster
0              150.0        6.311735        2
1               90.0        0.000000        0
2              152.0        3.433987        0

[3 rows x 23 columns]

In [35]:
X_train,X_test,y_train,y_test=train_test_split(newX,newY,test_size=0.25,random_state=123)
print(len(X_test), len(y_test))

83 83

In [36]:
lm = LinearRegression()
model = lm.fit(X_train,y_train)

In [37]:
# check R2
linear1_train_score=lm.score(X_train, y_train)
linear1_test_score=lm.score(X_test, y_test)
print(linear_train_score)
print(linear_test_score)

0.8342904078715033
0.6650603318463484

In [38]:
pred_train_lm= lm.predict(X_train)
linear1_train_RMSE = np.sqrt(mean_squared_error(y_train,pred_train_lm))
linear1_train_R2 = r2_score(y_train, pred_train_lm)
print("linear1 RMSE (train):",linear1_train_RMSE)
print("linear1 R^2 (train):",linear1_train_R2)

linear1 RMSE (train): 11.436698375964852
linear1 R^2 (train): 0.7982920406917631

In [39]:
pred_test_lm= lm.predict(X_test)
linear1_test_RMSE = np.sqrt(mean_squared_error(y_test,pred_test_lm))
linear1_test_R2 = r2_score(y_test, pred_test_lm)
print("linear1 RMSE (test):",linear1_test_RMSE) 
print("linear1 R^2 (test):",linear1_test_R2)

linear1 RMSE (test): 17.18051998977423
linear1 R^2 (test): 0.645062682425565

In [40]:
pd.DataFrame({'feature': X_test.columns, 'coef':lm.coef_})

              feature       coef
0         summit_elev  -0.001277
1       vertical_drop   5.803334
2               trams   2.107511
3           fastEight -40.898875
4           fastSixes   5.466527
5           fastQuads   7.882092
6                quad   4.840131
7              triple   4.558629
8              double   5.220908
9             surface   5.873027
10       total_chairs  -4.950050
11               Runs   1.700423
12       TerrainParks  -0.129251
13      LongestRun_mi  -0.555422
14  SkiableTerrain_ac  -1.445605
15     Snow Making_ac   0.914353
16   daysOpenLastYear   0.053269
17          yearsOpen   2.123604
18    averageSnowfall  -0.373515
19       AdultWeekday   0.638368
20  projectedDaysOpen  -0.038680
21     NightSkiing_ac   0.279183
22            cluster   4.488692

In [41]:
lm.intercept_

-23.588764977282935

In [42]:
pd.DataFrame({'feature': X_test.columns, 'coef':abs(lm.coef_)}).sort_values(by='coef', ascending=False).head(10)

          feature       coef
3       fastEight  40.898875
5       fastQuads   7.882092
9         surface   5.873027
1   vertical_drop   5.803334
4       fastSixes   5.466527
8          double   5.220908
10   total_chairs   4.950050
6            quad   4.840131
7          triple   4.558629
22        cluster   4.488692

**<font color='teal'> When reviewing your new model coefficients, note that `summit_elev` is now in the number two spot. From a managerial perspective, this is also difficult to change and highly correlated with `base_elev` and `vertical_drop`.  This time rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell. You will explain your selection during the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection: